[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[dev-packages]

[packages]
pyqt5 = "*"
pyqt5-tools = "*"
requests = "*"
pyinstaller = "*"
pyquery = "*"

[requires]
python_version = "3.7"
